{% extends "base.html" %}
<!--  -->
{% block title %} {{ artist.name }} {% endblock %}
<!--  -->
{% block content %}
<h2 class="text-2xl font-bold">{{ artist.name }}</h2>
<section class="flex">
  <article
    class="flex w-full flex-col gap-3 rounded-lg border border-gray-200 p-7 shadow dark:shadow-none"
  >
    <h2 class="self-center text-xl font-semibold">General info</h2>
    <ul class="list-none">
      <li>Playcount: {{ plays }}</li>
      <li>
        Time spent listening:
        <ul class="ml-4 list-disc">
          {% let minutes = time_played.num_minutes() %} {% let hours =
          time_played.num_hours() %} {% let days = time_played.num_days() %}
          <li>
            <time datetime="{{ time_played }}"
              >{{ minutes }} minute{{ minutes|pluralize }}</time
            >
          </li>
          {% if hours != 0 %}
          <li>
            <time datetime="{{ time_played }}"
              >or {{ hours }} hour{{ hours|pluralize }}</time
            >
          </li>
          {% endif %} {% if days != 0 %}
          <li>
            <time datetime="{{ time_played }}"
              >or {{ days }} day{{ days|pluralize }}</time
            >
          </li>
          {% endif %}
        </ul>
      </li>
      <li>
        First listen:
        <time datetime="{{ first_listen }}">{{ first_listen }}</time>
      </li>
      <li>
        Last listen:
        <time datetime="{{ last_listen }}">{{ last_listen }}</time>
      </li>
      <li>% of total plays: {{ percentage_of_plays }}%</li>
      <li>#{{ position }} artist of all time</li>
    </ul>
  </article>
</section>
<section class="flex w-2/3 flex-col gap-4">
  <article class="flex flex-col">
    <button
      id="absolute-plot-button"
      class="self-center"
      type="submit"
      hx-target="#absolute-plot"
      hx-get="/artist/{{ artist.name }}/absolute_plot"
    >
      Show absolute plot
    </button>
    <figure id="absolute-plot"></figure>
  </article>
  <article class="flex flex-col">
    <button
      id="relative-plot-button"
      class="self-center"
      type="submit"
      hx-target="#relative-plot"
      hx-get="/artist/{{ artist.name }}/relative_plot"
    >
      Show relative plot
    </button>
    <figure id="relative-plot"></figure>
  </article>
</section>
<script>
  // hide "show x plot" buttons on click
  document
    .getElementById("absolute-plot-button")
    .addEventListener("click", function () {
      this.style.display = "none";
    });
  document
    .getElementById("relative-plot-button")
    .addEventListener("click", function () {
      this.style.display = "none";
    });
</script>
{% endblock %}
