<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Endsong Web{% endblock %}- Endsong Web</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/htmx.js"></script>
    <script src="/plotly.js" charset="utf-8"></script>
  </head>
  <body
    class="flex flex-col items-center justify-evenly gap-4 bg-slate-100 dark:bg-slate-800 dark:text-white"
  >
    <header
      class="flex w-full items-center justify-around bg-slate-200 p-6 dark:bg-slate-700"
    >
      <h1 class="text-2xl"><a class="p-2" href="/">Endsong Web</a></h1>
      <nav>
        <ul class="flex gap-8">
          <li><a class="p-2 text-lg" href="/">Home</a></li>
          <li><a class="p-2 text-lg" href="/history">History</a></li>
          <li><a class="p-2 text-lg" href="/artists">Artists</a></li>
          <li><a class="p-2 text-lg" href="/albums">Albums</a></li>
          <li><a class="p-2 text-lg" href="/songs">Songs</a></li>
        </ul>
      </nav>
    </header>
    <main class="flex w-full flex-col items-center gap-6">
      {% block content %}
      <p>Placeholder</p>
      {% endblock %}
    </main>
    <aside
      id="toast-error"
      class="invisible fixed bottom-8 mb-4 flex w-full max-w-xs transform items-center rounded-lg bg-slate-400 p-4 opacity-0 shadow transition-opacity duration-700 ease-in-out dark:bg-red-700"
    >
      <div
        class="inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg"
      >
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"
          />
        </svg>
      </div>
      <div id="toast-error-message" class="ms-3 text-lg">An error has occured!</div>
    </aside>
    <footer></footer>
    <script>
      // https://htmx.org/events/#htmx:responseError
      document.body.addEventListener("htmx:responseError", function (event) {
        // on errors like 400 or 422
        // show error toast with the response body as text
        let toastMessage = document.getElementById("toast-error-message");
        toastMessage.innerHTML = event.detail.xhr.responseText;

        let toast = document.getElementById("toast-error");
        toast.classList.replace("invisible", "visible");
        toast.classList.replace("opacity-0", "opacity-100");

        setTimeout(function () {
          toast.classList.replace("opacity-100", "opacity-0");
        }, 2000);
        setTimeout(function () {
          toast.classList.replace("visible", "invisible");
        }, 2700);
      });
    </script>
  </body>
</html>
