<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Endsong Web{% endblock %}- Endsong Web</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/htmx.js"></script>
    <script src="/plotly.js" charset="utf-8"></script>
  </head>
  <body
    class="flex flex-col items-center justify-evenly gap-4 bg-slate-100 dark:bg-slate-800 dark:text-white"
  >
    <header
      class="flex w-full items-center justify-around bg-slate-200 p-6 dark:bg-slate-700"
    >
      <h1 class="text-2xl"><a class="p-2" href="/">Endsong Web</a></h1>
      <nav>
        <ul class="flex gap-8">
          <li><a class="p-2 text-lg" href="/">Home</a></li>
          <li><a class="p-2 text-lg" href="/history">History</a></li>
          <li><a class="p-2 text-lg" href="/artists">Artists</a></li>
          <li><a class="p-2 text-lg" href="/albums">Albums</a></li>
          <li><a class="p-2 text-lg" href="/songs">Songs</a></li>
        </ul>
      </nav>
    </header>
    <main class="flex w-full flex-col items-center gap-6">
      {% block content %}
      <p>Placeholder</p>
      {% endblock %}
    </main>
    <footer></footer>
  </body>
</html>
