{% extends "base.html" %}
<!--  -->
{% block title %} Home {% endblock %}
<!--  -->
{% block content %}
<p class="text-xl">
  You've listened to {{ playcount }} songs for a total of
  <time datetime="{{ total_listened }}"
    >{{ total_listened.num_minutes() }} minutes</time
  >
</p>
<section class="flex gap-16">
  <article
    class="flex w-full flex-col gap-3 rounded-lg border border-gray-200 p-7 shadow dark:shadow-none"
  >
    <h2 class="self-center text-xl font-semibold">Artists</h2>
    <form class="flex items-center justify-center gap-4">
      <label for="sorting">Sort by:</label>
      <div class="flex gap-1">
        <input
          type="radio"
          name="sort"
          value="plays"
          id="sorting-plays"
          checked
          hx-target="#artists"
          hx-trigger="click"
          hx-include="next input[name='top']:checked"
          hx-post="/top_artists"
        /><label for="sorting-plays">Plays</label>
      </div>
      <div class="flex gap-1">
        <input
          type="radio"
          name="sort"
          value="minutes"
          id="sorting-minutes"
          hx-target="#artists"
          hx-trigger="click"
          hx-include="next input[name='top']:checked"
          hx-post="/top_artists"
        /><label for="sorting-minutes">Minutes</label>
      </div>
    </form>
    <form class="flex items-center justify-center gap-4">
      <div class="flex gap-1">
        <input
          type="radio"
          name="top"
          value="10"
          id="top-artists-10"
          checked
          hx-target="#artists"
          hx-trigger="click, load"
          hx-include="previous input[name='sort']:checked"
          hx-post="/top_artists"
        /><label for="top-artists-10">Top 10</label>
      </div>
      <div class="flex gap-1">
        <input
          type="radio"
          name="top"
          value="25"
          id="top-artists-25"
          hx-target="#artists"
          hx-trigger="click"
          hx-include="previous input[name='sort']:checked"
          hx-post="/top_artists"
        /><label for="top-artists-25">Top 25</label>
      </div>
      <div class="flex gap-1">
        <input
          type="radio"
          name="top"
          value="50"
          id="top-artists-50"
          hx-target="#artists"
          hx-trigger="click"
          hx-include="previous input[name='sort']:checked"
          hx-post="/top_artists"
        /><label for="top-artists-50">Top 50</label>
      </div>
      <div class="flex gap-1">
        <input
          type="radio"
          name="top"
          value="10000"
          id="top-artists-all"
          hx-target="#artists"
          hx-trigger="click"
          hx-include="previous input[name='sort']:checked"
          hx-post="/top_artists"
        /><label for="top-artists-all">All</label>
      </div>
    </form>
    <ol class="list-decimal" id="artists">
      <!-- so that tailwind saves ml-7 class used in .rs .... -->
      <li class="ml-7"></li>
    </ol>
  </article>
</section>
{% endblock %}
